.programs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @mixin text ($size, $weight, $text-transf, $color){
        font-size: $size;
        font-weight: $weight;
        text-transform: $text-transf;
        color: $color;
    }
    .emba{
        border: 1px solid $color1;
        border-radius: 5px;
        a{
            text-decoration: none;
            text-align: center;
            @include text ($textSm, $regular, uppercase, $dark)
        }
    }
    .mba{
        border: 1px solid $color1;
        box-sizing: border-box;
        margin: 3%;
        border-radius: 5px;
        a{
            text-decoration: none;
            @include text ($textSm, $regular, uppercase, $dark)
        }
    }
    .pej{
        border: 1px solid $color1;
        margin: 3%;
        padding: 0;
        border-radius: 5px;
        a{
            line-height: $lineHeightSm;
            text-decoration: none;
            @include text ($textSm, $regular, uppercase, $dark)
            
        }
    }
}


.card-body{
    box-shadow: 0 0 8px 0 $color7;
    border-radius: 5px;
    .card-title{
        color: $color1;
    }
    .card-text{
        color: $color7; 
    }
}
#items{
    margin: 5% 0 10% 1%;
}
#aside{
    display: grid;
    
}