.programs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @mixin text ($size, $weight, $text-transf, $color){
        font-size: $size;
        font-weight: $weight;
        text-transform: $text-transf;
        color: $color;
    }
    .emba{
        border: 1px solid $color1;
        border-radius: 5px;
        a{
            text-decoration: none;
            text-align: center;
            @include text ($textSm, $regular, uppercase, $dark)
        }
    }
    .mba{
        border: 1px solid $color1;
        box-sizing: border-box;
        margin: 3%;
        border-radius: 5px;
        a{
            text-decoration: none;
            @include text ($textSm, $regular, uppercase, $dark)
        }
    }
    .pej{
        border: 1px solid $color1;
        margin: 3%;
        padding: 0;
        border-radius: 5px;
        a{
            line-height: $lineHeightSm;
            text-decoration: none;
            @include text ($textSm, $regular, uppercase, $dark)
            
        }
    }
}
#button{
    margin: 2% 25% 8% 25% ;
}