
.navbar{
    .container-fluid{
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 0;
        .navbar-brand{
            .logo{
                padding: 0;
                width: 30%;
                margin-right: auto;
            }
        }
        #button{
            margin-right: 2%;
            font-size: $textMd; 
        }
    }
}

@media (min-width: 768px){
    .container-fluid{
        .logo{
            width: 50%;
        }
        .navbar-toggler-icon{
            font-size: $textMd;    
        }
    }
    
}

@media (min-width: 1024px){
    .container-fluid{
        .logo{
            width: 40%;
        }
    }
    #navbarSupportedContent{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    font-size: $textMd;
            }
        }
    }
}
}
