
.navbar{
    background-color: $bgGeneral;
    .container-fluid{
        .navbar-brand{
            width: 110px;
            .logo{
                padding: 0;
                width: 60px;
            }
        }
        #button{
            margin-right: 1%;
            
            .navbar-toggler-icon{
                width: 30px;
                height: 30px;
                margin-top: 1.5%;
            } 
        }
        #navbarSupportedContent{
            ul{
                li{
                    a{
                    font-size: $textXs;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px){
    .container-fluid{
        .logo{
            width: 50%;
        }
        .navbar-toggler-icon{
            font-size: $textMd;    
        }
    }
    
}

@media (min-width: 1024px){
    .container-fluid{
        .logo{
            width: 40%;
        }
    }
    #navbarSupportedContent{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    font-size: $textMd;
            }
        }
    }
}
}
