@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

// variables globales
//fonts

$font1: 'Nunito', sans-serif;

//Sizing
$textXxs: .6rem;
$textXs: 1.2rem;
$textSm: 1.8rem;
$textMd: 2.2rem;
$textLg: 3.2rem;
$textXl: 4.2rem;

//lineHeight
$lineHeightXxs: 1rem;
$lineHeightXs: 1.2rem;
$lineHeightSm: 2.2rem;
$lineHeightMd: 2.8rem;
$lineHeightLg: 3.6rem;

//weigth
$ligth: 300;
$regular: 400;
$bold: 600;

//paleta de color
$bgGeneral: #2c3B96;
$color1: #253090;
$color2: #3444c2;
$color3: #2535c5;
$color4: #a1a8d1;
$color5: #dcddec;
$color6: #b9bddb;
$white: #eeeef5;
$dark: #141a3d
