<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="nav">
        <div>
            <a href="../program.html">
                <img class="logo" src="../img/iae.logo.jpg" alt="logo de la marca">
            </a>
        </div>
        <div class="menu" >
            <ul class="ul">  
            <li>
                <a href="#">perfil</a>
            </li>
            <li>
            <a href="#">xxxxxx</a>
            </li>
            <li>
                <a href="#">configuración</a>
            </li>
            </ul>
        </div>

<script src="../js/materia.js"></script>
</body>
</html>